@model Garage.Models.Car

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.FisrtName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.FisrtName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.Gender)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
